<!DOCTYPE html>
<html lang="en" style="padding: 0px;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

    <title>Badals.com Secure Checkout</title>
</head>
<body>
<script>
    /*<![CDATA[*/
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    window.secureKey = urlParams.get('token');
    window.guid = urlParams.get('guid');
    /*]]>*/
</script>
<div id="index"></div>

</body>

<!-- Checkout Frames CDN -->
<script src="https://cdn.checkout.com/js/framesv2.min.js"></script>
</html>