<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/react/16.12.0/umd/react.development.js"></script>
    <script src="/webjars/react-dom/16.12.0/umd/react-dom.development.js"></script>

    <title>Badals.com Checkout Experience</title>
</head>
<body>
<script th:inline="javascript">
    var xxx = "${token}";
    console.log(xxx);
    window.secureKey = xxx;
</script>
<p th:text="${message}"></p>
<h2> Not much going on here at the moment. Soon you'll be able to use badals.com checkout experience for your business.</h2>
</body>
</html>